# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# VS Code specific files
.vscode/
.settings.json


# folders
/build/
/lib/
/.cache/

# macOS specific files
.DS_Store

# Compiled Python files
__pycache__/
*.pyc

# Other unwanted files
Thumbs.db
desktop.ini

# User-specific files
*.sublime-workspace
*.suo
*.user
*.userosscache
*.sln.docstates
*.suo
*.user
*.userosscache
*.sln.docstates
*.lock
